{% extends "core/base.html" %}
{% load static %}
{% block content %}

<div class="container emp-profile">

    <div class="row">
        <div class="col-md-3">
            <img src="{% static 'img/avad.png'%}" alt="" width="50%">
            <h6 class="text-muted p-1"> Make Life Easy</h6>

        </div>
        <div class="col-md-6">
            <div class="profile-head">
            </div>
        </div>
        <div class="col-md-3">
            <a target="_blank" class="scan" href="{% url 'details' %}"><input type="submit" class="profile-edit-btn m-2"
                    name="btnAddMore" value="Run Scanner" /></a>
            <a   href="{% url 'profiles' %}"><input type="submit" class="profile-edit-btn m-2 "
                        name="btnAddMore" value="Profiles" /></a>
        </div>
    </div>
    <hr>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="present-tab" data-toggle="tab" href="#present" role="tab"
                aria-controls="home" aria-selected="true">Present</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="absent-tab" data-toggle="tab" href="#absent" role="tab" aria-controls="profile"
                aria-selected="false">Absent</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="contact"
                aria-selected="false">History</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <br>
        <div class="tab-pane fade show active" id="present" role="tabpanel" aria-labelledby="home-tab">

            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Entry Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for profile in present %}
                    <tr>
                        <th scope="row">-</th>
                        <td>{{profile.first_name}} {{profile.last_name}}</td>
                        <td>{{profile.status}}</td>
                        <td>{{profile.updated |date:"h:iA"}}</td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
            <a href="{% url 'reset' %}"><button type="button" class="btn btn-outline-secondary">Reset</button></a>
            <a href="{% url 'index' %}"><button type="button" class="btn btn-outline-primary">Refresh</button></a>

        </div>

        <div class="tab-pane fade" id="absent" role="tabpanel" aria-labelledby="profile-tab">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Shift Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for profile in absent %}
                    <tr>
                        <th scope="row">-</th>
                        <td>{{profile.first_name}} {{profile.last_name}}</td>
                        <td>{{profile.status}}</td>
                        <td>{{profile.shift}}</td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>

        </div>

        <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="contact-tab">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col">Profile ID</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for face in scanned %}
                    <tr>
                        <th scope="row">-</th>
                        <td>{{face.last_face}}</td>
                        <td>{{face.date}}</td>
                        
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
            <a href="{% url 'clear_history' %}"><button type="button" class="btn btn-outline-secondary">Clear History</button></a>
        </div>
    </div>

</div>
<script>
    $(".scan").click(function () {
        var postData = { csrfmiddlewaretoken: '{{ csrf_token }}' }
        $.ajax({
            url: "{% url 'scan' %}",
            data: {

            },
        });
    });
</script>

{% endblock content %}